In [1]:
import pandas as pd

Может ли конверсия в двух источниках снижаться, а общая расти?

In [2]:
adv_campaign_one = {
    
    'new': [1000, 1000],
    'converted': [100, 99],
}

df1 = pd.DataFrame(adv_campaign_one)

In [3]:
df1['conversion'] = df1['converted'] / df1['new']

In [4]:
df1

    new  converted  conversion
0  1000        100       0.100
1  1000         99       0.099

In [5]:
adv_campaign_two = {
    
    'new_users': [100, 10000],
    'converted_users': [99, 9800],
}

df2 = pd.DataFrame(adv_campaign_two)

In [6]:
df2['conversion'] = df2['converted_users'] / df2['new_users']

In [7]:
df2

   new_users  converted_users  conversion
0        100               99        0.99
1      10000             9800        0.98

In [8]:
df_total = pd.concat([df1, df2], axis=1)

In [9]:
df_total

    new  converted  conversion  new_users  converted_users  conversion
0  1000        100       0.100        100               99        0.99
1  1000         99       0.099      10000             9800        0.98

In [10]:
df_total[['conversion']]

   conversion  conversion
0       0.100        0.99
1       0.099        0.98

In [11]:
df_total['total_users'] = df_total['new_users'] + df_total['new']
df_total['total_converted_users'] = df_total['converted_users'] + df_total['converted']
df_total['total_conversion'] = df_total['total_converted_users'] / df_total['total_users']

In [12]:
df_total

,new,converted,conversion,new_users,converted_users,conversion,total_users,total_converted_users,total_conversion
0,1000,100,0.100,100,99,0.99,1100,199,0.180909
1,1000,99,0.099,10000,9800,0.98,11000,9899,0.899909